@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    background: #000;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255, 0.2) transparent;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 999px;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
  color: white;
  background: black;
}
